// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Colors
$red:               #C00000;
$light-grey:        #EEEEEE;
$medium-grey:       #999999;
$dark-grey:         #777777;
$darkest-grey:      #333333;
