// -----------------------------------------------------------------------------
// Global Styles
// -----------------------------------------------------------------------------
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {

    main {
        margin-top: 79px;
    }
}

section {
    padding: 50px 0;
}

a {

}
