// -----------------------------------------------------------------------------
// Helpers
// -----------------------------------------------------------------------------

.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

// Hide text while making it readable for screen readers
.hide-text {
    overflow: hidden;
    padding: 0;
    text-indent: 101%;
    white-space: nowrap;
}

// Hide element while making it readable for screen readers
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
