// -----------------------------------------------------------------------------
// Homepage
// -----------------------------------------------------------------------------

// Header
header {
    padding: 50px 0;
    background-color: #f2f2f2;
}
