<!--- Footer --->
<footer class="footer pt-5 pb-5 text-center" data-emergence="hidden"> <!--- Emergence.js data attr --->
	<div class="container">
		<h4>Footer</h4>
		<p>
			Has the <code>Emergence.js</code> data attribute appended to it.<br /> (background color changes when it scrolls 75% into viewport) <br />
			<small>Us this cool feature to manipulate styles on elements when they enter the viewport. Or don't, It's totally optional.</small>
		</p>
	</div>
</footer>

<!--- Scripts --->
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/vendor/js/slick.js"></script>
<script src="{{root}}assets/vendor/js/emergence.js"></script>
<script src="{{root}}assets/js/custom.js"></script>
<script>
	  // emergence.init({
		// 	elemCushion: 0.75, // how much of element needs to be visible (%) for emergence to kick in
	  // });
</script>
<!-- endbuild -->
