<!--- Base layout, used on every page --->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Quantum - A Front End Starter Kit</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="author" content="Derick Moncado">
	<meta name="description" content="Quantum - A frontend framework that is focused on automated web developement.">
	<meta name="keywords" content="keywords,here">
	<link rel="favicon" href="images/favicons/favicon.ico" type="">

	<!--- CSS --->
	<!-- build:css -->
    <link rel="stylesheet" href="{{root}}assets/vendor/css/font-awesome5.css">
	<link rel="stylesheet" href="{{root}}assets/vendor/css/slick.css">
	<link rel="stylesheet" href="{{root}}assets/vendor/css/slick-theme.css">
    <link rel="stylesheet" href="{{root}}assets/css/main.css">
    <!-- endbuild -->

	<!--- Favicons --->
	{{> favicons}}
</head>

<body>
	{{> navigation}}

	<main role="main">
		{{> body}}
	</main>

	{{> footer}}
</body>
</html>
