<!--- Base layout, used on every page. --->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Le Boilerplate</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="author" content="Derick Moncado">
	<meta name="description" content="A Gulp-powered, Sassified, Bootstrapped project boilerplate template with Browsersync and hot reloading.">
	<meta name="keywords" content="keywords,here">
	<link rel="shortcut icon" href="favicon.ico" type="">

	<!--- CSS --->
	<link rel="stylesheet" href="{{root}}assets/vendor/css/font-awesome5.css">
	<link rel="stylesheet" href="{{root}}assets/css/main.css">
</head>

<body>
	<!--- Navigation --->
	{{> navigation}}

	<main role="main" class="main-thing">
		<!--- Body --->
		{{> body}}
	</main>

	<!--- Footer --->
	{{> footer}}
</body>
</html>
